<a href="https://colab.research.google.com/github/ArunK-ML/ML-Model---Weather---DataSet/blob/main/Weather_ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("/content/Weather.csv")
df

,pickup_datetime,tempm,tempi,dewptm,dewpti,hum,wspdm,wspdi,wgustm,wgusti,...,precipm,precipi,conds,icon,fog,rain,snow,hail,thunder,tornado
0,2015-12-31 00:15:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.5,0.02,Light Rain,rain,0,1,0,0,0,0
1,2015-12-31 00:42:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
2,2015-12-31 00:51:00,7.8,46.0,6.1,43.0,89.0,5.6,3.5,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
3,2015-12-31 01:51:00,7.2,45.0,5.6,42.1,90.0,7.4,4.6,NaN,NaN,...,0.3,0.01,Overcast,cloudy,0,0,0,0,0,0
4,2015-12-31 02:51:00,7.2,45.0,5.6,42.1,90.0,0.0,0.0,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2016-12-31 19:51:00,6.1,43.0,-4.4,24.1,47.0,7.4,4.6,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10477,2016-12-31 20:51:00,6.1,43.0,-4.4,24.1,47.0,13.0,8.1,38.9,24.2,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10478,2016-12-31 21:51:00,6.1,43.0,-5.0,23.0,45.0,9.3,5.8,29.6,18.4,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10479,2016-12-31 22:51:00,6.7,44.1,-5.0,23.0,43.0,14.8,9.2,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10480,2016-12-31 23:51:00,6.7,44.1,-4.4,24.1,45.0,7.4,4.6,25.9,16.1,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10481 entries, 0 to 10480
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup_datetime  10481 non-null  object
 1   tempm            10476 non-null  float64
 2   tempi            10476 non-null  float64
 3   dewptm           10476 non-null  float64
 4   dewpti           10476 non-null  float64
 5   hum              10476 non-null  float64
 6   wspdm            9744 non-null   float64
 7   wspdi            9744 non-null   float64
 8   wgustm           1876 non-null   float64
 9   wgusti           1876 non-null   float64
 10  wdird            10481 non-null  int64
 11  wdire            10481 non-null  object
 12  vism             10236 non-null  float64
 13  visi             10236 non-null  float64
 14  pressurem        10242 non-null  float64
 15  pressurei        10242 non-null  float64
 16  windchillm       2706 non-null   float64
 17  windchilli       2706 non-null   float64
 18  heatindexm       837 non-null    float64
 19  heatindexi       837 non-null    float64
 20  precipm          1706 non-null   float64
 21  precipi          1706 non-null   float64
 22  conds            10481 non-null  object
 23  icon             10481 non-null  object
 24  fog              10481 non-null  int64
 25  rain             10481 non-null  int64
 26  snow             10481 non-null  int64
 27  hail             10481 non-null  int64
 28  thunder          10481 non-null  int64
 29  tornado          10481 non-null  int64
dtypes: float64(19), int64(7), object(4)
memory usage: 2.4+ MB

In [3]:
pd.set_option("display.max_columns", None)

In [4]:
df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"], format = "%Y-%m-%d %H:%M:%S")

In [5]:
df['date'] = df['pickup_datetime'].dt.date
df['month'] = df['pickup_datetime'].dt.month
df['time'] = df['pickup_datetime'].dt.time

In [6]:
df['date']

0        2015-12-31
1        2015-12-31
2        2015-12-31
3        2015-12-31
4        2015-12-31
            ...
10476    2016-12-31
10477    2016-12-31
10478    2016-12-31
10479    2016-12-31
10480    2016-12-31
Name: date, Length: 10481, dtype: object

In [7]:
df['hour'] = df['pickup_datetime'].dt.hour
df['minute'] = df['pickup_datetime'].dt.minute

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10481 entries, 0 to 10480
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup_datetime  10481 non-null  datetime64[ns]
 1   tempm            10476 non-null  float64
 2   tempi            10476 non-null  float64
 3   dewptm           10476 non-null  float64
 4   dewpti           10476 non-null  float64
 5   hum              10476 non-null  float64
 6   wspdm            9744 non-null   float64
 7   wspdi            9744 non-null   float64
 8   wgustm           1876 non-null   float64
 9   wgusti           1876 non-null   float64
 10  wdird            10481 non-null  int64
 11  wdire            10481 non-null  object
 12  vism             10236 non-null  float64
 13  visi             10236 non-null  float64
 14  pressurem        10242 non-null  float64
 15  pressurei        10242 non-null  float64
 16  windchillm       2706 non-null   float64
 17  windchilli       2706 non-null   float64
 18  heatindexm       837 non-null    float64
 19  heatindexi       837 non-null    float64
 20  precipm          1706 non-null   float64
 21  precipi          1706 non-null   float64
 22  conds            10481 non-null  object
 23  icon             10481 non-null  object
 24  fog              10481 non-null  int64
 25  rain             10481 non-null  int64
 26  snow             10481 non-null  int64
 27  hail             10481 non-null  int64
 28  thunder          10481 non-null  int64
 29  tornado          10481 non-null  int64
 30  date             10481 non-null  object
 31  month            10481 non-null  int32
 32  time             10481 non-null  object
 33  hour             10481 non-null  int32
 34  minute           10481 non-null  int32
dtypes: datetime64[ns](1), float64(19), int32(3), int64(7), object(5)
memory usage: 2.7+ MB

In [9]:
df['day'] = df['pickup_datetime'].dt.day

In [ ]:
df.rename(columns={
    'tempm': 'Temp (C)',
    'tempi': 'Temp (F)',
    'dewptm': 'Dew Point (C)',
    'dewpti': 'Dew Point (F)',
    'hum': 'Humidity (%)',
    'wspdm': 'Wind Speed (km/h)',
    'wspdi': 'Wind Speed (mph)',
    'wgustm': 'Wind Gust (km/h)',
    'wgusti': 'Wind Gust (mph)',
    'wdird': 'Wind Dir (Degrees)',
    'wdire': 'Wind Dir (Compass)',
    'vism': 'Visibility (km)',
    'visi': 'Visibility (miles)',
    'pressurem': 'Pressure (mb)',
    'pressurei': 'Pressure (in)',
    'windchillm': 'Wind Chill (C)',
    'windchilli': 'Wind Chill (F)',
    'heatindexm': 'Heat Index (C)',
    'heatindexi': 'Heat Index (F)',
    'precipm': 'Precipitation (mm)',
    'precipi': 'Precipitation (in)',
    'conds': 'Weather Condition',
    'icon': 'Weather Icon',
    'fog': 'Fog Present (1/0)',
    'rain': 'Rain Present (1/0)',
    'snow': 'Snow Present (1/0)',
    'hail': 'Hail Present (1/0)',
    'thunder': 'Thunder Present (1/0)',
    'tornado': 'Tornado Present (1/0)',
    'date': 'Date',
    'month': 'Month',
    'time': 'Time',
    'hour': 'Hour',
    'minute': 'Minute'
}, inplace=True)